// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// The "App Shell" template colors are based off v-focus-color
$v-focus-color: #145A32;

// Background gradient and image used for the menu, false disables
$app-background-gradient: unquote("linear-gradient(145deg, #145A32 30%, #145A32 100%)");
$app-background-color: #145A32;

.apptheme .app-shell[width-range~="601px-"] .navigation-bar {
	background-color: #216C2A !important;
	overflow-y:auto;
	overflow-x:hidden;
}

.app-shell .navigation-bar {
	background: #4b4b65 !important;
	z-index: 10000 !important;
}

.app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button .v-button-caption {
	font-size: 9.0px !important;
	margin: 0;
	width: 100%;
	float: left;
	margin-top: 3px;
	text-align: center;
}

.app-shell .navigation-bar {
	background: #216C2A !important;
	z-index: 10000 !important;
}

.apptheme .app-shell .navigation-bar {
	color: white !important;
	background-size: cover !important;
	background-position: top !important;
}

.app-shell .navigation {
	border-top: 1px solid #5a5a79 !important;
	border-bottom: 1px solid #5a5a79 !important;
	background: #216C2A !important;
}

.apptheme .v-grid-row-selected > td {
	background: #216C2A !important;
}

.app-shell .navigation .v-button {
	text-align: left;
	font-size: 14.4px;
	text-overflow: ellipsis;
	color: white !important;
}

.role-textbox{
	border:0;
	border-bottom: 1px solid black !important;
}

.role-name-layout{
	margin-left:-95px !important;
}

.role-description-layout{
	margin-left:15px !important;
}

.role-activeLable{
	padding-right:10px !important;
}

.role-activePadding{
	padding-top:20px !important;
}

.form-layout{
	margin-left:50px !important;
}

.assertAlert-formLayout{
	margin-left:50px !important;
	margin-top: -50px !important;
}

.device-name-layout{
	margin-left:-108px !important;
}

.device-activeButton-Layout{
	padding-left:47px;
}

.odometer-verticalLayout{
	overflow:auto !important;
}

.save-cancelButtonsAlignment{
	padding-right:10px !important;
// 	padding-top:5px !important;
}

.assetAlert-activeCheckBox{
	padding-top:12px;
	margin-left:-68px;
}

.assetDebug-label{
	margin-top:-44px;
}

.applicatioStore-GridLayout{
	padding: 0px 0px 0px 0px !important;
}

.applicatioStore-VerticalLayout{
	padding: 20px 37px 0px 37px !important;
}

.applicatioStore-FormLayout{
	margin-top:-35px;
	margin-left:20px;
}

.applicatioStore-ListLayout{
	padding-left:12px !important;
	padding-right:12px !important;
	padding-bottom:12px !important;
	padding-top:38px !important;
}

.applicatioStore-UploadWindow{
	padding-top:0px !important;
}

.applicatioStore-UploadButton{
	top:0px !important;
}


.v-caption{
	white-space:normal !important;
}



.apptheme .v-panel-caption {
	box-sizing: border-box;
	padding: 1px 12px !important;
	line-height: 36px;
	border-bottom: 1px solid #d5d5d5;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(top, #fafafa 2%, #f6f6f6 98%);
	background-image: linear-gradient(to bottom,#fafafa 2%, #f6f6f6 98%);
	color: #464646;
	font-weight: 400;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	border-radius: 3px 3px 0 0;
}

.apptheme .v-panel {
	background: white;
	color: #474747;
	border-radius: 0px !important;
	border: 1px solid #d5d5d5;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	overflow: visible !important;
}

.apptheme .v-panel-well {
	background: #f5f5f5;
	color: #454545;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
	border-radius: 0px !important;
	border: 1px solid #c5c5c5;
}

.heartbeat-bad-terminal{
		background-image:url(terminalBad.png);
 		background-size: contain;
		background-repeat: no-repeat;
}

.heartbeat-Good-terminal{
		background-image:url(terminalGood.png);
 		background-size: contain;
		background-repeat: no-repeat;
}


.split-height{
		background-color: white;
		overflow:auto !important;
		padding: 0px 0px 0px 0px !important;
	}
	
.split-height{
		background-color: white;
		overflow:auto !important;
		padding: 37px 0px 37px 0px !important;
	}

.split-Height-ButtonLayout{
		background-color: white;
		padding: 0px 20px 0px 20px !important;
	}
	
.heartbeat-verticalLayout{
	padding: 0px 0px 0px 0px !important;
}

.heartbeat-horizontalLayout-DeviceLabel{
	margin-bottom:-40px;
}

.heartbeat-verticalFormLayout{
	padding: 0px 37px 0px 37px !important;
}

.app-shell[width-range~="1001px-"] {
	.v-heartbeat-Button{
	position: relative;
    white-space: nowrap;
    text-align: -webkit-center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer;
    height: 52px;
    padding: 0 16px;
    color: #191919;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    border-top-color: #c5c5c5;
    border-bottom-color: #bcbcbc;
    background-color: #fafafa;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    width: 195px;
    box-shadow:none;
    background:transparent;
    color:inherit;
    padding-top:3px;
	}

	.v-heartbeat-Button:hover{
	background-color:rgba(186, 186, 186, 0.1);
	}

	.v-heartbeat-Button:focus{
	border-color:#216C2A;
	box-shadow:0 0 0 2px rgba(20, 90, 50, 0.5);
	}
	.v-heartBeat-GoodTerminal{
		display: inline-block;
	background: url(terminalGood1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	}
	
// 	.h1{
// 		font-size: 36px !important;
// 		color:#216C2A !important;;
// 		font-weight:bold !important;;
// 	}

.v-panel-caption{
	font-size: 36px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:65px !important;
	
	}
	.label-style{
		font-size: 28px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}

	.v-button-customstyle{
		height:37px !important;
		padding: 0px 16px !important;
		font-weight:400 !important;
	}
	.v-grid-cell{
	font-size:16px !important
	}

	.v-textfield-font{
		font-size:16px !important
	}
}

.app-shell[width-range~="601px-1000px"]{
	.v-panel-caption{
	font-size: 24px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:45px !important;
	
	}
	.label-style{
		font-size: 22px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}

	.v-button-customstyle{
		font-size:14px !important;
		height:27px !important;
		padding: 0px 10px !important;
		font-weight:400 !important;
	}
	.v-grid-cell{
		font-size:14px !important
	}

	.v-textfield-font{
		font-size:14px !important
	}	
	
	.v-combobox-size{
		width:135px;
		height:27px;
	}
	.v-caption{
		font-size:13px;
		font-weight:none;
	}
	.v-tree8-cell{
		font-size:14px;
	}
}

.app-shell[width-range~="-600px"]{
	.v-panel-caption{
	font-size: 18px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:30px !important;
	
	}

.label-style{
		font-size: 16px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}
.v-button-customstyle{
	font-size:12px !important;
		height:20px !important;
		padding: 0px 8px !important;
		font-weight:400 !important;
	}
	.v-grid-cell{
	font-size:12px !important
	}

	.v-textfield-font{
		font-size:12px !important
	}	
	.v-combobox-size{
		width:120px;
		height:24px;
	}
	.v-caption{
		font-size:12px;
		font-weight:none;
	}
	.v-tree8-cell{
		font-size:12px;
	}
}

.app-shell[width-range~="-1000px"] {
	.v-heartbeat-Button{
    cursor: pointer;
    font-weight: 400;
    margin-top:3px;
    outline:none;
    width:95px;
    font-size:11px;
	}

	.v-heartbeat-Button:hover{
		background-color:none;
	}

	.v-heartbeat-Button:focus{
		border-color:#216C2A;
	box-shadow:0 0 0 2px rgba(20, 90, 50, 0.5);
	}

	.v-heartbeat-Button .v-icon{
		padding-left:25px;
	}

// 	.h1{
// 		font-size: 24px !important;
// 		color:#216C2A !important;;
// 		font-weight:bold !important;;
// 	}

// 	.v-heartbeat-Button .v-heartbeat-Button-caption{
// 	font-size: 10px;
//     margin: 0;
//     width: 100%;
//     float: left;
//     margin-top: 3px;
// 	}
}

.heartbeat-activeLayout{
	margin-left: -93px;
}

.heartbeat-heartBeatLayout{
	margin-left: -93px;
    margin-bottom: -30px;
    margin-top: 15px;
}

.heartbeat-frequency{
	margin-top: -35px;
    margin-left: 25px;
}

.heartbeat-historyLabel{
	margin-top: -30px !important;
}

.apptheme .error{
	font-weight : bolder;
	color : red;
}

.apptheme .warn{
	font-weight: bolder;
	color : orange;
	
}
@import '../valo/valo.scss';
@import 'dashboardview';
@import 'menu';

@mixin apptheme {
  @include valo;
  @include dashboardview;
  @include menu;

  .v-errorindicator {
    // Only show validation errors using field styles
    display: none;
  }
  .Vaadin-Icons {
    // Make Vaadin Icons behave exactly like FontAwesome
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
  }
  
 .v-caption-inline-label{
 	padding: 4px 9px;
  	display: inline-block;
}

.v-grid-tablewrapper {
	border: 1px solid #d4d4d4;
}
.v-grid {
        .v-grid-cell {
            border: 0px;
        }
    }
}
