// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// The "App Shell" template colors are based off v-focus-color
$v-focus-color: #145A32;

// Background gradient and image used for the menu, false disables
$app-background-gradient: unquote("linear-gradient(145deg, #145A32 30%, #145A32 100%)");
$app-background-color: #145A32;

.v-Notification.error{
	background: #216c2A !important;
}

.apptheme .v-textfield{
	background:#f9f9f9 !important;
}
.apptheme .v-filterselect [class*="input"]{
	background:#f9f9f9 !important;
}

.apptheme .app-shell[width-range~="601px-"] .navigation-bar {
	background-color: white !important;
	overflow-y:auto;
	overflow-x:hidden;
}

.app-shell .navigation-bar {
	background: #4b4b65 !important;
	z-index: 10000 !important;
}

.app-shell[width-range~="601px-1000px"] .navigation-bar-container .navigation .v-button .v-button-caption {
	font-size: 9.0px !important;
	margin: 0;
	width: 100%;
	float: left;
	margin-top: 3px;
	text-align: center;
}

.app-shell .navigation-bar {
	background: white !important;
	z-index: 10000 !important;
}

.apptheme .app-shell .navigation-bar {
	color: white !important;
	background-size: cover !important;
	background-position: top !important;
}

.app-shell .navigation {
// 	border-top: 1px solid #5a5a79 !important;
// 	border-bottom: 1px solid #5a5a79 !important;
	background: white !important;
}

.apptheme .v-grid-row-selected > td {
	background: #216c2a !important;
}

.app-shell .navigation .v-button {
	text-align: left;
	font-size: 14.4px;
	text-overflow: ellipsis;
	color: black !important;
}

.app-shell .navigation .v-icon {
	color: black !important;
}

.apptheme .v-caption-inline-icon.v-caption-small span.v-icon{
	line-height:36px !important;
}

.apptheme .app-shell[width-range~="1001px-"] .navigation .v-button.borderless-disabled:hover{
	background:lightgray !important;
}

.apptheme .app-shell .navigation-bar .selected .v-icon, .apptheme .app-shell .navigation-bar .selected .v-button-caption{
 	color:white !important;
 }

.apptheme vaadin-board .board-row-panels .board-box-inner{
	text-align:center;
}
.apptheme vaadin-board .board-row-group{
	border:none !important;
}

.apptheme vaadin-board .board-row-panels .board-box-inner{
	border:none !important;
}
// .apptheme vaadin-board .board-box{
// 	padding:8px !important;
// }

.apptheme vaadin-board .board-row-group.large .board-box-wrapper:not(:first-child) > .board-box{
	border-left: 5px solid #eaeaea !important;
}

.search-Height{
	height:37px !important;
}
.v-textfield-lineHeight{
	height: 28px !important;
}

.searchBar-Textfield{
	border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.treeGrid{
	margin-top:-15px;
}

.role-textbox{
	border:0;
	border-bottom: 1px solid black !important;
}

.role-name-layout{
	margin-left:-95px !important;
}

.role-description-layout{
	margin-left:30px !important;
	margin-top:15px;
}

.role-activeLable{
	padding-right:10px !important;
}

.role-activePadding{
	padding-top:20px !important;
}

.role-gridLayout{
	padding: 20px 0px 0px 0px !important;
}

.role-createdeleteButtonLayout{
	margin-right:20px;
}


.form-layout{
	margin-left:50px !important;
}

.device-formLayout{
	margin-left:50px !important;
	margin-top:-10px
}

.device-name-layout{
	margin-left:-108px !important;
}

.device-activeButton-Layout{
	padding-left:47px;
}

.device-activeButton{
	margin-left:8px;
}

.device-rkiLabel{
	margin-left:5px;
}

.device-osLabel{
	margin-left:6px;
}

.device-checkboxAlignment{
	margin-left:5px;
}

.odometer-verticalLayout{
	overflow:auto !important;
}

.odometer-OdometerSearchClearPhone{
	font-size:12px !important;
	height:28px !important;
	padding: 0px 8px !important;
	font-weight:400 !important;
	margin-top:1px !important;
}



.save-cancelButtonsAlignment{
	padding-right:19px !important;
// 	padding-top:5px !important;
	background:white;
	float:right;
	margin-top:15px;
}

.save-cancelButtonsAlignmentSystems{
// 	padding-top:5px !important;
	background:white;
	float:right;
	margin-top:15px;
}

.save-cancelButtonAlignmentRoles{
	padding-right:35px !important;
// 	padding-top:5px !important;
}

.assetAlert-activeCheckBox{
	padding-top:12px;
	margin-left:-68px;
}

.applicationStore-GridLayout{
	padding: 0px 0px 0px 0px !important;
	background-color: #fff;
}

.applicationStore-TabLayout{
	margin-top:6px;
	background:#f2f2f2 !important;
}

.applicationStore-FilesLayout{
	margin-left:15px;
}

.applicationStore-buttonsLayout{
	margin-top:15px;
	margin-right:12px !important;
}

.applicationStore-activeCheckBox{
	padding-top:12px;
	margin-left:-23px;
}

.applicationStore-VerticalLayout{
	padding: 37px 37px 0px 15px !important;
	margin-top:-60px !important;
}

.applicationStore-ApplicationDetailsLayout{
	padding: 20px 37px 0px 15px !important;
	background:#fff;
}

.applicationStore-ApplicationStoreLayout{
	padding: 20px 15px 0px 37px !important;
}

.applicationStore-cancelsaveApplicationLabelLayout{
	margin-bottom: -10px;
}

.applicationStore-cancelsaveLayout{
	margin-left: 20px;
}

.applicationStore-FormLayout{
	margin-top:-35px;
	margin-left:20px;
}

.applicationStore-ListLayout{
	padding-left:12px !important;
	padding-right:12px !important;
	padding-bottom:12px !important;
	padding-top:38px !important;
}

.applicationStore-UploadWindow{
	padding-top:0px !important;
}

.applicationStore-UploadButton{
	top:0px !important;
}

.applicationStore-GridLayoutOverflow{
	overflow:auto !important;
	overflow-x:hidden !important;
}

.applicationStore-horizontalAlignment{
	margin-left: 12px !important;
}

.applicationStore-gridLayoutHeight{
	margin-top : -410px !important;
	}


// .v-caption{
// 	white-space:initial !important;
// }



.apptheme .v-panel-caption {
	box-sizing: border-box;
	padding: 1px 12px !important;
	line-height: 36px;
	border-bottom: 1px solid #d5d5d5;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(top, #fafafa 2%, #f6f6f6 98%);
	background-image: linear-gradient(to bottom,#fafafa 2%, #f6f6f6 98%);
	color: #464646;
	font-weight: 400;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	border-radius: 3px 3px 0 0;
}

.apptheme .v-panel {
	background: white;
	color: #474747;
	border-radius: 0px !important;
	border: 1px solid #d5d5d5;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	overflow: visible !important;
}

.apptheme .v-panel-well {
	background: #f5f5f5;
	color: #454545;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
	border-radius: 0px !important;
	border: 1px solid #c5c5c5;
}

.apptheme .v-verticallayout-card, .apptheme .v-horizontallayout-card{
	background: white;
	color: #474747;
	border-radius: 0px !important;
	border: 1px solid #d5d5d5;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	//overflow: visible !important;
}

.heartbeat-secondComponent{
		background:white;
}

.heartbeat-gridSearchLayout{
		background:white;
		margin-top:10px;
}

.heartbeat-bad-terminal{
		background-image:url(terminalBad.png);
 		background-size: contain;
		background-repeat: no-repeat;
}

.heartbeat-Good-terminal{
		background-image:url(terminalGood.png);
 		background-size: contain;
		background-repeat: no-repeat;
}
.heartbeat-TerminalImage-Align{
	text-align: left !important;
}

.heartbeat-TerminalImage-Height{
	height : 60px !important;
}

.heartbeat-SearchLayout{
		padding:0px 20px 20px 20px !important;
}

.heartbeat-verticalLayout{
	padding: 0px 0px 0px 0px !important;
}

.heartbeat-horizontalLayout-DeviceLabel{
	margin-bottom:-40px;
	margin-top:18px;
}

.heartbeat-verticalFormLayout{
	padding: 0px 37px 0px 37px !important;
}

.heartbeat-verticalDetailLayout{
	padding: 0px 37px 37px 0px !important;
}

.heartbeat-checkbox{
	margin-right:-5px;
	font-weight:400;
}

.heartbeat-activeLayout{
	float:left;
	margin-left:-61px;
	margin-top:12px;
}

.heartbeat-heartBeatLayout{
	float:left;
	margin-left:-91px;
	margin-top:12px;
}

.heartbeat-frequency{
	margin-top: -35px;
    margin-left: 25px;
}

.heartbeat-historyLabel{
	margin-top: -20px !important;
}

.heartbeat-historySearchLayout{
	margin-left: 14px;
}

.heartbeat-historySearchVerticalLayout{
	padding: 0px 14px 0px 0px !important;
}


.split-height{
		background-color: white;
		overflow:auto !important;
		padding: 0px 0px 0px 0px !important;
	}
	
.split-height{
		background-color: white;
		overflow:auto !important;
		padding: 22px 0px 0px 0px !important;
	}

.split-Height-ButtonLayout{
		background-color: white;
		padding: 0px 10px 0px 10px !important;
	}

.personlization-SplitBackground{
	background:white;
}

.personlization-Parameters{
	padding: 37px 37px 37px 37px !important;
}

.personlization-ParametersComboBox{
	margin-top:-15px;
}

.personlization-verticalFormLayout{
	padding:0px 0px 0px 0px !important;
}

.personlization-horizontalLayout{
	margin-left: 20px;
	margin-top:-28px;
}

.personlization-formLayout{
	margin-top:-45px;
	margin-left:15px;
}

.personlization-paramButtonLayout{
	margin-left:12px;
	margin-top:-23px;
}

.personlization-overRideParamLabelLayout{
	margin-top:-44px;
}

.personlization-formAlignment{
	float:left;
}

.personlization-AppAndProfileAlignment{
	float:left;
	margin-left:10px;
	margin-top:-10px;
}

.personlization-activeLayout{
	margin-left:-61px;
}

.personlization-activeCheckbox{
	margin-left:-5px;
}

.personlization-heartbeatLayout{
	margin-left:-93px;
}

.personlization-heartbeatCheckbox{
	margin-left:-3px;
}

.personlization-gridHeight{
	margin-top:-8px;
}

.personlization-applicationSelectionLayout{
	margin-top:-28px;
}

.personlization-plusButtons{
	margin-top:25px;
}

.personlization-leftAndRightArrowButtons{
	padding:52px 0px 37px  0px !important;
}

.dashboard-gridCaption{
	font-size:26px !important;
	margin-bottom:10px !important;
	margin-left: 245px !important;
	color:#00008f !important;
	font-weight:bold !important;
// 	<h2 style=margin-bottom:10px;margin-left:245px;color:#197DE1></h2>
}

.dashboard-gridBackground{
	background-color:white !important;
}

.app-shell[width-range~="-1300px"] {
	.applicationStore-VerticalLayout{
		padding: 20px 37px 0px 15px !important;
		margin-top:-40px !important;
	}
}

// .apptheme h4, .apptheme .v-label-h4, .apptheme vaadin-board text.highcharts-title{
// 	fill: #0000008f !important;
// }

.app-shell[width-range~="1001px-"] {
	.v-heartbeat-Button{
	position: relative;
    white-space: nowrap;
    text-align: -webkit-center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer;
    height: 52px;
    padding: 0 16px;
    color: #191919;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    border-top-color: #c5c5c5;
    border-bottom-color: #bcbcbc;
    background-color: #fafafa;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    width: 210px;
    box-shadow:none;
    background:transparent;
    color:inherit;
    padding-top:3px;
	}

	.v-heartbeat-Button:hover{
	background-color:rgba(186, 186, 186, 0.1);
	}

	.v-heartbeat-Button:focus{
	border-color:#216C2A;
	box-shadow:0 0 0 2px rgba(20, 90, 50, 0.5);
	}
	.v-heartBeat-GoodTerminal{
		display: inline-block;
	background: url(terminalGood1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	}
	
// 	.h1{
// 		font-size: 36px !important;
// 		color:#216C2A !important;;
// 		font-weight:bold !important;;
// 	}

.v-panel-caption{
	font-size: 36px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:69px !important;
	
	}
	
	.v-caption{
		font-size:16px !important;
	}
	.label-style{
		font-size: 28px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}


	.v-button-customstyle{
		height:37px !important;
		padding: 0px 16px !important;
		font-weight:400 !important;
	}
	.v-grid-cell{
	font-size:16px !important;
	}

	.v-textfield-font{
		font-size:16px !important;
	}
	.role-activeLayout{
		margin-left:-64px;
	}
	.role-activeLabel{
		margin-right:10px;
		font-weight:400;
	}

	.role-RoleNameLabel{
		margin-left:4px;
	}

	.textfiled-height{
		height:37px !important;
		border-radius:6px !important;
	}
}

.app-shell[width-range~="1001px-1400px"] {
	.v-button-customstyle{
		height:37px !important;
		padding: 0px 16px !important;
		font-weight:400 !important;
// 		margin-top: 1px;
	}
}

.app-shell[width-range~="600px-700px"] {
	.v-button-customstyle{
		font-size:14px !important;
		height:32px !important;
		padding: 0px 10px !important;
		font-weight:400 !important;
// 		margin-top: 1px !important;
	}

.header-Components{
  		margin-top:10px !important;
//   		margin-right: 30px !important;
}

.header-label{
		margin-left: 40px;
    	Font-size: 24px !important;
    	margin-bottom: 55px !important;
    	font:menu;
    	font-weight:400;
	}
.header-UserNameLayout{
    margin-top: -38px;
    text-align:right !important;
}
.header-menuButton{
   margin-top: -5px;
   margin-left:-45px;
}

}

.app-shell[width-range~="601px-1000px"]{
	.v-panel-caption{
	font-size: 24px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:45px !important;
	
	}
	.label-style{
		font-size: 22px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}

	.v-button-customstyle{
		font-size:14px !important;
		height:32px !important;
		padding: 0px 10px !important;
		font-weight:400 !important;
// 		margin-top: 1px;
	}
	.v-grid-cell{
		font-size:14px !important;
	}

	.v-textfield-font{
		font-size:14px !important;
	}	

	.v-caption{
		font-size:14px !important;
	}
	
	.v-combobox-size{
		width:135px;
		height:27px;
	}
	.v-caption{
		font-size:13px;
		font-weight:none;
	}
	.v-tree8-cell{
		font-size:14px;
	}
	.device-rkiLabel{
		margin-left:8.5px;
	}

	.device-osLabel{
	margin-left:9px;
	}

	.role-activeLayout{
		margin-left:-58px;
	}
	.role-activeLabel{
		margin-right:8px;
		font-weight:400;
	}
	.role-RoleNameLabel{
		margin-left:4px;
	}

	.heartbeat-checkbox{
		margin-right:-3px;
	}

	.heartbeat-activeLayout{
		float:left;
		margin-left:-56px;
		margin-top:12px;
	}

	.heartbeat-heartBeatLayout{
		float:left;
		margin-left:-84px;
		margin-top:12px;
	}

	.asset-alertActiveLayout{
		float:left;
		margin-top:12px;
	}

	.asset-alertCheckbox{
		margin-right:-4px;
		font-weight:400;
	}

	.asset-debugCheckboxLayout{
		float:left;
		margin-left:-58px;
		margin-top:12px;
	}
	
	.asset-debugCheckbox{
		margin-right:-6px;
		font-weight:400;
	}

// 	.user-activeBox{
// 		margin-left: 12px !important;
// 	}
// 
// 	.user-fixIPBox{
// 		margin-left: 11px !important;
// 	}

	.user-activeLayout{
		height: 15px !important;
		margin-left: -60px !important;
	}

	.user-fixedIPLayout{
		height: 15px !important;
		margin-left: -70px !important;
		margin-bottom:25px !important;
		margin-top: 10px !important;
	}

	.user-passFreqncyLayout{
		margin-top:15px !important;
		margin-left: -82px !important;
	}

	.user-autheticationLayout{
		float:left;
		margin-bottom:-6px !important;
		margin-top: 20px !important;
		margin-left: -115px !important;
	}

	.v-caption-small span.v-icon{
		line-height:32px !important;
	}

	.header-label{
		margin-left: 40px;
    	Font-size: 24x !important;
    	margin-bottom: 30px;
    	font:menu;
    	font-weight:400;
	}

	.header-UserName{
   		font-size:17px !important;
   		margin-left:-10px;
   		font:menu;
	}

	.header-UserRole{
  		 margin-top:-15px;
   		font-size:12px !important;
   		font:menu;
	}

	.header-GridLayout{
  		margin-top:5px;
	}
	.textfiled-height{
		height:32px !important;
		border-radius:6px !important;
	}
}

.app-shell[width-range~="-600px"]{
	.v-panel-caption{
	font-size: 18px !important;
		color:#216C2A !important;
 		font-weight:bold !important;
 		line-height:30px !important;
	
	}

.label-style{
		font-size: 16px !important;
		//color:#216C2A !important;
 		font-weight:bold !important;
 		padding-left:12px !important;
	}

.v-button-customstyle{
	font-size:12px !important;
		height:28px !important;
		padding: 0px 8px !important;
		font-weight:400 !important;
// 		margin-top: 2px !important;
	}
	.v-grid-cell{
	font-size:12px !important;
	}

	.v-textfield-font{
		font-size:12px !important;
	}	
	.v-caption{
		font-size:12px !important;
	}
	.v-combobox-size{
		width:120px;
		height:24px;
	}
	.v-caption{
		font-size:12px;
		font-weight:none;
	}
	.v-tree8-cell{
		font-size:12px;
	}
	.device-rkiLabel{
		margin-left:14px;
	}
	.device-osLabel{
		margin-left:14.5px;
	}
 	.v-caption-small span.v-icon{
		line-height:26px !important;
	}
	.role-activeLayout{
		margin-left:-53px;
	}
	.role-activeLabel{
		margin-right:10px;
		font-weight:400;
	}
	.role-RoleNameLabel{
		margin-left:4px;
	}
	.heartbeat-checkbox{
		margin-right:-5px;
	}

	.heartbeat-activeLayout{
		float:left;
		margin-left:-50px;
		margin-top:12px;
	}
	
	.heartbeat-heartBeatLayout{
		float:left;
		margin-left:-74px;
		margin-top:12px;
	}

	.asset-alertActiveLayout{
		float:left;
		margin-top:12px;
	}

	.asset-alertCheckbox{
		margin-right:-3px;
		font-weight:400;
	}

	.asset-debugCheckboxLayout{
		float:left;
		margin-left:-63px;
		margin-top:12px;
	}

	.asset-debugCheckbox{
		margin-right:3px;
		font-weight:400;
	}
	
	.user-activeLayout{
		height: 15px !important;
		margin-left: -53px !important;
	}

	.user-fixedIPLayout{
		height: 15px !important;
		margin-left: -62px !important;
		margin-bottom:25px !important;
		margin-top: 10px !important;
	}

	.user-passFreqncyLayout{
		margin-top:15px !important;
		margin-left: -73px !important;
	}

	.user-autheticationLayout{
		float:left;
		margin-bottom:-6px !important;
		margin-top: 20px !important;
		margin-left: -102px !important;
	}

	.header-UserRole{
  		 margin-top:-15px;
   		font-size:13px;
	}
	.header-GridLayout{
  		margin-top:7px;
  		margin-left:-45px;
	}
	.textfiled-height{
		height:27px !important;
		border-radius:6px !important;
	}
}

.app-shell[width-range~="-1000px"] {
	.v-heartbeat-Button{
    cursor: pointer;
    font-weight: 400;
    margin-top:3px;
    outline:none;
    width:95px;
    font-size:11px;
	}

	.v-heartbeat-Button:hover{
		background-color:none;
	}

	.v-heartbeat-Button:focus{
		border-color:#216C2A;
	box-shadow:0 0 0 2px rgba(20, 90, 50, 0.5);
	}

	.v-heartbeat-Button .v-icon{
		padding-left:25px;
	}
}

.label-SaveCancelAlignment{
	margin-top: 10px;
}
.system-SaveCancelAlignment{
	margin-right: 8px;
}

.system-LabelAlignment{
	text-align:right !important;
}

.system-TypeAlignment{
	float:left;
	margin-top:10px;
}

.system-GridAlignment{
	padding:0px 0px 0px 0px !important;
}

.system-ButtonLayout{
	margin-right: 20px;
}

.audit-DeviceVerticalAlignment{
	padding:0px 0px 0px 0px !important;
}

.audit-DeviceSearch{
	margin:10px 0px -10px 15px !important;
}

.audit-buttonlayoutAlignment1{
	margin-left:-25px !important;
}

.audit-buttonlayoutAlignment2{
	margin-left:-12px !important;
}

.audit-tabAlignment{
	padding: 0px 30px 0px 0px !important;
}

.audit-phoneAlignment{
	padding: 0px 15px 0px 0px !important;
}

.audit-scroll{
	overflow:visible !important;
}

.audit-AuditSearchClearDesktop{
	height:37px !important;
	padding: 0px 16px !important;
	font-weight:400 !important;
	margin-top:1px !important;
}

.audit-AuditSearchClearPhone{
	font-size:12px !important;
	height:28px !important;
	padding: 0px 8px !important;
	font-weight:400 !important;
	margin-top:0px !important;
}

.grid-AuditOdometerAlignment{
	margin-top:10px !important;
}

.asset-historyTreeLayout{
	margin-top: 32px;
}

.asset-historyDebugLayout{
	overflow:scroll !important;
	overflow-x:hidden !important;
}

.asset-alertActiveLayout{
	float:left;
	margin-top:12px;
}

.asset-alertCheckbox{
	margin-right:-3px;
	font-weight:400;
}

.assetDebug-label{
	margin-top:-30px;
	margin-bottom:-15px;
}

.asset-alertformLayout{
	margin-left:30px !important;
	margin-top: -50px !important;
}

.asset-alertDeleteLayout{
	margin-right:20px;
}

.asset-debugSFormLayout{
	margin-top:-50px;
	margin-left: 30px;
}

.asset-debugCheckboxLayout{
	float:left;
	margin-left:-68px;
	margin-top:12px;
}

.asset-debugComboBox{
		float:left;
	}

.asset-debugSearch{
	
	padding: 0px 0px 0px 15px !important;

}

.user-buttonsLayout{
	padding-right:15px !important;
	margin-bottom: 10px !important;
}

.user-searchLayout{
	padding-left: 15px !important;
}

.user-treeLayout{
	padding:8px 15px 37px 15px !important;
}

.user-formLayout{
	margin-top:15px !important;
	margin-left: 30px !important;
	margin-bottom:20px !important;
}

.user-activeLayout{
	height: 15px !important;
	margin-left: -65px !important;
}

.user-autheticationLayout{
	float:left;
	margin-bottom:-6px !important;
	margin-top: 20px !important;
	margin-left: -128px !important;
}

.user-autheticationLabel{
	margin-left:-127px !important;
	margin-top:20px !important;
}

.user-autheticationButton{
	margin-left:5px !important;
}

.user-fixedIPLayout{
	height: 15px !important;
	margin-left: -76px !important;
	margin-bottom:25px !important;
	margin-top: 10px !important;
}


	.user-rolesComboBox{
		float:left;margin-top:12px;
	}

.user-fixIPBox{
	margin-left: 6px !important;
}


.user-activeBox{
	margin-left: 7px !important;
}

.user-passFreqncyLayout{
	margin-top:15px !important;
	margin-left: -90px !important;
}

.user-passFRqncyComboBox{
	margin-left: 5px !important;
}

.user-roles{
	margin-top:12px !important;
}

.user-saveCancelLayout{
	padding-right: 15px;
}

.twofactor-splitpanel{
	text-align:center;
	box-shadow:0 2px 3px rgba(0, 0, 0, .2);
}

.twofactor-verticalLayout{
	background:#f2f2f2;
	position:relative;
 	justify-content:center;
	display:flex;
}

.twofactor-firstverticalLayout{
	background:#216c2a;
	position:relative;
 	justify-content:center;
	display:flex;
}

.twofactor-firstPanel{
	background : #fff;
	padding: 0px 0px 0px 0px !important;
}

.twofactor-logo{
	background-position-y: 67px;
	background-image: url(company_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

.twofactor-secondPanel{
	background : #216c2a;
	padding: 0px 15px 0px 15px !important;
}

.twofactor-secondPanelVertical{
	background : #216c2a;
	padding: 0px 0px 0px 0px !important;
}

.twofactor-welcomelabel{
	font-size: 36px;
	font-weight: 100;
	color:white;
	margin-top:20px;
	border-bottom:1px solid white;
}

.twofactor-authlabel{
	font-size: 22px;
	font-weight: bold;
	color:white;
}

.twofactor-authlabelVertical{
	font-size: 22px;
	font-weight: bold;
	color:white;
	margin-top:10px;
}

.twofactor-maillabel{
	color:white;
	font-weight:100;
	font-size:14px;
	
}

.twofactor-maillabelVertical{
	color:white;
	font-weight:100;
	font-size:14px;
	margin-top:-10px;
}

.twofactor-label{
	border:0;
	border-bottom: 1px solid white !important;
	caret-color: #fff;
	width: 214px !important;
	color:#fff !important;
}

.twofactor-labelVertical{
	border:0;
	border-bottom: 1px solid white !important;
	caret-color: #fff;
	width: 100% !important;
	color:#fff !important;
}

.twofactor-formLayout{
	margin-top:37px
}

.twofactor-formLayoutVertical{
	margin-top:-45px
}

.twofactor-buttonsLayout{
	padding-bottom:30px
}

.twofactor-buttons{
	font:400 14.3333px Arial;
	font-style: normal;
	width: 45%;
	height: 37px;
	border: 1px solid #666;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	color: #000;
	text-align: center;
	position: relative;
	background-color: #f2f2f2;
}


.twofactor-buttons:focus:after {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
	content: "";
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	border-radius: inherit;
}

.twofactor-logoVertical{
	background-position-x: center;
	background-image: url(company_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

.verfication-password-lineheight{
	height: 32px !important;
}

.forgotpassword-labelHorizontal{
	font-size: 22px;
	font-weight: 500;
	color:white;
	margin-top:20px;
}

.forgotpassword-labelVertical{
	font-size: 22px;
	font-weight: 500;
	color:white;
	margin-top:-15px !important;
}

.forgotpassword-emaillabel{
	border:0;
	border-bottom: 1px solid white !important;
	caret-color: #fff;
	width: 100% !important;
	color:#fff !important;
}
.forgotpassword-formLayoutVertical{
	margin-top:-20px
}

.updatePassword-buttonsLayout{
	padding-bottom:30px
}

.updatePassword-formLayout{
	padding-bottom:-30px
}

.updatePassword-logo{
	background-position-y: 86px;
	background-image: url(company_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

.updatepassword-formLayoutVertical{
	margin-top:-40px
}

.header-label{
	margin-left: 40px;
    Font-size: 30px !important;
    margin-bottom: 30px;
    font:menu;
    font-weight:400;
}

.header-UserNameLayout{
    margin-top: -18px;
    text-align:right !important;
}

.header-UserName{
   font-size:20px !important;
   margin-left:-10px;
   font:menu;
}

.header-UserRole{
   margin-top:-15px;
   font-size:14px !important;
   font:menu;
}

.header-menuButton{
   margin-top: 18px;
   margin-left:-45px;
}

.header-menuWindow{
   margin-top: 46px !important;
   margin-left:-155px !important;
}

.header-GridLayout{
  		margin-left:-45px !important;
	}

.header-Components{
  		margin-top:20px !important;
//   		margin-right: 30px !important;
}

.tabsheet-margin{
	margin-top:70px;
}

.assetDebug-Switch{
	border-radius: 15px !important;
}

.app-shell[width-range~="1000px-1150px"]{
	.header-Components{
  		margin-bottom:30px !important;
  		width:130px;
		height:26px;
  		
	}
}
.app-shell[width-range~="1001px-"] .v-treegrid-cell{
	font-size:16px !important;
}
.app-shell[width-range~="601px-1000px"] .v-treegrid-cell{
	font-size:14px !important;
}
.app-shell[width-range~="-600px"] .v-treegrid-cell{
	font-size:12px !important;
}

.app-shell[width-range~="600px-800px"]{
	.header-Components{
  		margin-bottom:30px !important;
  		width:110px;
		height:23px;
  		
	}
}


.board-top{
	margin-top:-55px;
}

.label-chartStyle{
		font-size: 36px !important;
		color:black !important;
	}

.apptheme .v-button:focus:after{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

.apptheme .error{
	font-weight : bolder;
	color : red;
}
.apptheme .warn{
	font-weight: bolder;
	color : orange;
	
}
.apptheme .info{
	font-weight : bolder;
	color : green;
}
.apptheme .v-window-header{
	color: #fff !important;
	background: #216c2a !important;
}

.apptheme .v-window-closebox, .apptheme .v-window-maximizebox, .apptheme .v-window-restorebox{
	color: #fff !important;
	background: #216c2a !important;
}

.apptheme .v-window-outerheader{
	background: #216c2a !important;
}

@import '../valo/valo.scss';
@import 'dashboardview';
@import 'menu';

@mixin apptheme {
  @include valo;
  @include dashboardview;
  @include menu;

  .v-errorindicator {
    // Only show validation errors using field styles
    display: none;
  }
  .Vaadin-Icons {
    // Make Vaadin Icons behave exactly like FontAwesome
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
  }
  
 .v-caption-inline-label{
 	padding: 4px 9px;
  	display: inline-block;
}

.v-grid-tablewrapper {
	border: 1px solid #d4d4d4;
}
.v-grid {
        .v-grid-cell {
            border: 0px;
        }
    }
}
